<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="../static/css/index.css" />
	</head>
	<body class="index">
		<h1>Твои заговоры на понос</h1>
		<form action="/login" method="POST" class="form-auth">
			<input type="text" name="name" placeholder="Имя игрока" />
			<button type="submit" class="submit">Авторизироваться</button>
		</form>
	</body>
</html>
